
html{
    height:100%;
    width: 100%;
}
header{
    background-color:#CBE2B5;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom:100px;
        h1{
            margin-left: 20px;
        }
        input{
            margin-right:10px;
            border-radius: 15px;
            height: 40px;
            margin-top:21px;
        }
        button{
            background-color:#E2DAD6;
            width: 60px;
            height: 25px;
            margin-right:18px;
            border-radius: 15px;
            color:#808D7C;
            cursor: pointer;
            border: 1px solid #616b5e;
            &:hover{
                background-color: white
            }
    }
}
@import"./_footer"; 
@import "./_main";
@import "./index.css"
